*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* styles for the Header */

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.edit-header {
    background-color: #ffffff;
    width: 1248px;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.edit-header .edit-logo {
    color: #686AA1;
    padding: 50px;
    font-family: 'Allerta Stencil';
    font-size: 22px;
}

.edit-header span {
    color: #A18A68;
    
}

.edit-header nav {
    display: flex;
    justify-content: space-between;
}

.edit-header ul {
    width: 250px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.edit-header .edit-menu {
    color: #000000;
    font-family: 'DM Sans';
    font-size: 16px;
}
/* style product detai*/

.edit-detail-product {
    width: 1248px;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 100px;
}

.edit-detail-product .edit-image {
    width: 450px;
    height: 450px;
    
    padding-left: 100px;
}

.edit-detail-product .edit-detail {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.edit-detail-product .edit-detail .edit-text-1 {
    font-family: 'DM Sans';
    font-size: 50px;

}

.edit-detail-product .edit-detail .edit-text-2 {
    font-family: 'DM Sans';
    font-size: 40px;
    color: #A18A68;
}

.edit-detail-product .edit-detail .edit-text-3 {
    font-family: 'DM Sans';
    font-size: 20px;
}

.edit-detail-product .edit-detail .edit-stars {
    display: flex;
    list-style: none;
}

.edit-detail-product .edit-button-detail {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-detail-product .edit-button-detail .edit-button-style {
    width: 367px;
    height: 100px;
    background-color: #A18A68;
    border-radius: 10px;
    border: none;
}

.edit-detail-product .edit-button-detail .edit-button-color {
    color: #ffffff;
    font-family: 'DM Sans';
    font-size: 40px;
}

/* edit comment */

.edit-comment {
    width: 1248px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 70px;
    border-top: 2px solid #707070;
}

.edit-comment .edit-comment-photo {
    width: 1200px;
    height: 100px;
    display: flex;
}

.edit-comment .edit-comment-photo img {
    border-radius: 60px;
}

/* edit footer */

.edit-footer {
    width: 1248px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #707070;
}

.edit-help {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-info-menu {
    color: #707070;
    font-family: 'DM Sans';
    font-size: 16px;
}

.edit-singup {
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-singup ul {
    list-style: none;
}

.edit-singup ul input {
    width: 250px;
    height: 40px;
    border: none;
}

.edit-singup ul .edit-singup-border {
    color: #707070;
}

.edit-footer-icon {
    width: 200px;
    height: 40px;
    margin-left: 900px;
    margin-bottom: 60px;
}
