*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* styles for the Header */

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-header {
    background-color: #ffffff;
    width: 100%;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.edit-header .edit-logo {
    color: #686AA1;
    padding: 50px;
    font-family: 'Allerta Stencil';
    font-size: 2rem;
}

.edit-header span {
    color: #A18A68;
    
}

.edit-header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-header ul {
    width: 250px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.edit-header .edit-menu {
    color: #000000;
    font-family: 'DM Sans';
    font-size: 1rem;
}


/* edit head 1 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    /* margin-top: 20px; */
}

.edit-head-1 {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-head-1 h1 {
    font-family: 'DM Sans';
    font-size: 2.8rem;
}

/* edit product album */

.edit-product-album {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    gap: 30px;
}

.edit-product-album .edit-product-info {
    width: 377px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-product-album .edit-product-info .text-1 {
    font-size: 2.5rem;
    font-family: 'DM Sans';

}

.edit-product-album .edit-product-info .text-2 {
    font-size: 1.25rem;
    font-family: 'DM Sans';
    color: #A18A68;
}

.edit-product-album .edit-product-info input {
    align-self: flex-end;
    width: 25%;
    height: 3vh;
    border-radius: 5px;
    
}

::placeholder {
    font-size: 30px;
}

input[type=text] {
    font-size: 40px;
}

.edit-product-album .edit-product-info button {
    width: 139px;
    height: 40px;
    border-radius: 10px;
    background-color: #A18A68;
    border: none;
}

.edit-product-album .edit-product-info button a {
    color: #000000;
}

/* edit the check out */

.edit-check-out {
    width: 100%;
    height: 45vh;
    padding-top: 120px;
}

.edit-price {
    width: 95%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px; 
}

.edit-check-out .edit-price p {
    font-family: 'DM Sans';
    font-size: 2.5rem;
}

.edit-check-out .edit-check-out-button {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-check-out .edit-check-out-button button {
    width: 45%;
    height: 13vh;
    background-color: #db8504;
    font-size: 3rem;
    border-radius: 12px;
}

/* edit footer */

/* edit footer */
footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.fotter{
    padding-top: 50px;
    border-top: 1px solid gray;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftcontent{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.leftcontent a{
   color: black;
}
.rightcontent{
    display: grid;
    gap: 20px;
}

.divtop input{
    width: 90%;
    height: 80%;
    border: none;
    border-bottom: 0.5px solid #A18A68;
}

::placeholder {
    font-size: 1rem;
}

@media only screen and (max-width: 741px) {
    .edit-header nav {
        display: none;
    }

    .edit-header {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25vh;
    } 

    .edit-check-out .edit-price p {
        font-size: 25px;
    }

    .edit-check-out .edit-check-out-button button {
        font-size: 25px;
    }

    .edit-product-album {
        gap: 20px;
    }
}
