*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* styles for the Header */

body {
   display: flex;
   flex-wrap: wrap;
}

.edit-header {
    background-color: #ffffff;
    width: 100%;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.edit-header .edit-logo {
    color: #686AA1;
    padding: 50px;
    font-family: 'Allerta Stencil';
    font-size: 2rem;
}

.edit-header span {
    color: #A18A68;
    
}

.edit-header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-header ul {
    width: 250px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.edit-header .edit-menu {
    color: #000000;
    font-family: 'DM Sans';
    font-size: 1rem;
}

/* style for the section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 40px;
}

section {
    background-image: url(./photos-brief-2/Img\ 01-edit.png);
    width: 88%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 15px 15px 15px;
    display: flex;
    align-items: end;
}

.edit-photo1-text {
    width: 55%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;
}

.edit-photo1-text div:nth-child(1) .edit-text1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: 'DM Sans';
}

.edit-photo1-text div:nth-child(1) .edit-text2 {
    font-size: 1.5rem;
    color: #A18A68;
    font-family: 'DM Sans';
}

.edit-photo1-text div:nth-child(2) .edit-button{
    background: none;
    width: 159px;
    height: 8vh;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.edit-photo1-text div:nth-child(2) .edit-button .edit-a-color {
    font-size: 1.25rem;
    font-family: 'DM Sans';
    color: #ffffff;
}

.edit-photo1-text .edit-number-of-product {
    width: 20%;
    height: 5vh; 
    align-self: flex-end;
    display: flex;
    gap: 10px;
}

.edit-photo1-text .edit-number-of-product .cercle1 {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #ffffff;
}

.edit-photo1-text .edit-number-of-product .cercle2, .cercle3, .cercle4, .cercle5 {
    width: 7px;
    height: 7px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
/* Edit the shop the lastes and view */


.edit-shopthelastes-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    width: 85%;
}

.edit-shopthelastes-view div:nth-child(1) {
    font-size: 33px;
    font-family: 'DM Sans';
    align-self: flex-start;
}

.edit-shopthelastes-view div:nth-child(2) a {
    font-size: 20px;
    font-family: 'DM Sans';
    color: #A18A68;
    align-items: flex-end;
}

/* edit cart of product */

.edit-cart-album {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.edit-cart-album .edit-cart-product {
    width: 380px;
    height: 472px;
}

.edit-cart-album .edit-cart-product p{
    font-family: 'DM Sans';
    font-size: 1.5rem;
    margin: 10px 0 20px 0;
}

.edit-cart-album .edit-cart-product span {
    font-family: 'DM Sans';
    font-size: 20px;
    color: #A18A68;
}

/* edit the about */

.edit-about {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.edit-about div:nth-child(1) {
    padding: 15px;
    font-family: 'DM Sans';
    font-size: 2rem;
}

.edit-about div:nth-child(2) {
    padding: 15px;
    font-family: 'DM Sans';
    font-size: 1.5rem;
}

.edit-about div:nth-child(3){
    padding: 15px 0 15px 0;
    font-family: 'DM Sans';
    font-family: 1.3rem;
}

/* edit trend care */

.edit-trend-care {
    width: 75%;
    height: auto;
}

.edit-trend {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.edit-trend-care .edit-trend-care-title {
    font-family: 'DM Sans';
    font-size: 1.6rem;
}

.edit-trend-care .edit-description {
    font-family: 'DM Sans';
    font-size: 1.3rem;
}

.edit-trend-care div:nth-child(1) .edit-description-list {
    font-family: 'DM Sans';
    font-size: 1.3rem;
    margin-left: 50px;
}

.edit-care {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* edit footer */
footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.fotter{
    padding-top: 50px;
    border-top: 1px solid gray;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftcontent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.leftcontent a{
   color: black;
}
.rightcontent{
    display: grid;
    gap: 20px;
}

.divtop input{
    width: 90%;
    height: 80%;
    border: none;
    border-bottom: 0.5px solid #A18A68;
}

::placeholder {
    font-size: 1rem;
}